*.c
*.h
*.la
*.lo
*.o
*.pc
*.stamp
.deps
.libs
.version
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
config.h
config.h.in
config.log
config.status
configure
debian/*.substvars
debian/*debhelper*
debian/files
debian/lib*/
debian/tmp
doc/
lib*.deps
lib*.vapi
libtool
m4/*lt*
m4/libtool.m4
stamp-h1
vala-doc
version.h
